.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transition: all .5s;
}

.slide-leave-active {
    transform: translateX(100%);
    transition: all .5s;
}


.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}